"*":
  "atom-beautify":
    general:
      _analyticsUserId: "601ea96f-5ecc-42f9-8574-b7e064c7c9c3"
  "clang-format":
    executable: "clang-format"
    formatCOnSave: true
    formatCPlusPlusOnSave: true
  core:
    autoHideMenuBar: true
    customFileTypes:
      "source.cpp": [
        "h"
      ]
    disabledPackages: [
      "markdown-preview"
      "language-gfm"
      "linter-clang"
    ]
    packagesWithKeymapsDisabled: [
      "clang-format"
    ]
    telemetryConsent: "no"
  editor:
    fontFamily: "hack"
    fontSize: 17
    softWrap: true
    tabLength: 4
  "exception-reporting":
    userId: "bc3c8e3f-3acf-1a74-b204-0b8a51fdf17e"
  latex:
    enableShellEscape: true
    engine: "xelatex"
    openResultInBackground: false
    opener: "pdf-view"
    producer: "dvipdf"
  "markdown-preview-plus":
    enableLatexRenderingByDefault: true
    useGitHubStyle: true
  "markdown-table-formatter":
    defaultTableJustification: "Center"
    markdownGrammarScopes: [
      "text.md"
    ]
  "markdown-writer":
    tableAlignment: "center"
    tableExtraPipes: true
  "pdf-view":
    reverseSyncBehaviour: "Double click"
  "spell-check":
    grammars: [
      "source.asciidoc"
      "source.gfm"
      "text.git-commit"
      "text.plain"
      "text.plain.null-grammar"
      "text.md"
    ]
  tasks: {}
  "vim-mode-plus":
    useClipboardAsDefaultRegister: true
    useSmartcaseForSearch: true
  welcome:
    showOnStartup: false
".beamer.latex.tex.text":
  editor:
    tabLength: 4
".bibtex.text":
  editor:
    tabLength: 4
".latex.log.text":
  editor:
    tabLength: 4
".latex.memoir.tex.text":
  editor:
    tabLength: 4
".latex.tex.text":
  editor:
    tabLength: 4
".tex.text":
  editor:
    tabLength: 4
