'.platform-linux atom-text-editor':
  'ctrl-d': 'editor:toggle-line-comments'
  'ctrl-alt-ß': 'tree-view:toggle'
  'alt-ß': 'tree-view:toggle-focus'

'atom-text-editor':
  'ctrl-shift-i': 'editor:auto-indent'

'.platform-linux atom-workspace atom-text-editor:not(.mini)[data-grammar~="todo"]':
  'alt-d': 'tasks:complete'
